.foto {
    width: 100%;
    margin: auto;
    max-width: 500px;
    text-align: center;
    img {
        width: 100%;
        vertical-align: top;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
        margin-bottom: 30px;
    }
    .texto {
        max-width: 500px;
        margin-bottom: 30px;
    }
    .regresar {
        padding: 5px 20px;
        margin-bottom: 30px;
        display: inline-block;
        border-radius: 50px;
        font-size: 16px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease;
        margin-right: 10px;
        &:hover {
            border: 1px solid #fff;
            text-decoration: none;
        }
        .fas {
            margin-right: 10px;
        }
    }
}
